extends layout.pug
block content

    .content
        h1 Google Authenticator Switched
        p Hello #{user.firstName} #{user.lastName},
        p We wanted to inform you that Google Authenticator has been successfully switched for your account.
        p If you didn't authorize this action, please contact our support team immediately to secure your account.
        p Stay safe and secure!
