extends layout.pug
block content

    p 
      |Hi 
    p
      | We have received an OTP request for your Momoverse account.
    p
      | To proceed, please encode the below six-digit number at the OTP Field:
      br
      h3 #{otp}
    