extends layout.pug
block content

    .content
        h1 Password Change Confirmation
        p Hello #{user.firstName} #{user.lastName},
        p Your password has been successfully changed. If you did not request this change, please contact our support team immediately.
        p For added security, we recommend using a password manager and enabling two-factor authentication.
        p Stay safe and secure!
